*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}
/* intestazione */
header{
  height: 100px;
  /* background-color: yellow; */
  width: 70%;
  margin: 0 auto;
}

a img{
  height: 50px;
  width: auto;
  /* linea grigia verticale */
  padding-right: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
  border-top: 0;
  border-left: 0;
  border-bottom:0;
}

nav ul li{
  font-size: 10px;
  color: #808080;
  display: inline-block;
  margin-top: 20px;


}


/* forzatura per il contain */
.contain::after{
  content: "";
  display: table;
  clear: both;
}

/* corpo del sito */

section{
  width: 70%;
  margin: 0 auto;
}

.headerimg{
  background-color: red;
  background-size: cover;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}



.titolo{
  background-color: pink;
  height: 60px;
  margin: 0 auto;
}

.contain{
  background-color: green;
  margin-bottom: 10px;
}

.box{
  height: 350px;
  background-color: pink;
  margin-top: 10px;
  margin-bottom: 10px;
}

.laterale{
  float: left;
  width: 20%;
}

.central{
  float: left;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}


/* piè di pagina */
footer{
  width: 70%;
  background-color: blue;
  height: 80px;
  margin: 0 auto;

}
