*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}
/* intestazione */
header{
  height: 100px;
  width: 70%;
  margin: 0 auto;
}

a img{
  height: 50px;
  width: auto;
  /* linea grigia verticale */
  padding-right: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
  border-top: 0;
  border-left: 0;
  border-bottom:0;
}

nav ul li{
  font-size: 10px;
  color: #808080;
  display: inline-block;
  margin-top: 20px;


}


/* forzatura per il contain */
.contain::after{
  content: "";
  display: table;
  clear: both;
}

/* corpo del sito */

section{
  width: 70%;
  margin: 0 auto;
}

.headerimg{
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  position: relative;

}

.layover{
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: absolute;
}

.testo{
  width: 50%;
  margin: 0 20px;
  position: absolute;
  bottom: 20px;
}

.testo p{
  color: white;
}

.testo p:last-child{
  font-size: 10px;
}

/* sezione del titolo */
.titolo{
  height: 60px;
  margin: 0 auto;
}
.titolo>p{
  font-size: 10px;
  color: #808080;
}

/* contenuto dei 3 blocchi */
#contain{
  margin-bottom: 10px;
  /* background-color: green; */
}

.box{
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.laterale{
  float: left;
  width: 20%;
}


.box img {
  width:100%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;

}

.box p{
  font-size: 10px;
  color: #808080;
}


.central{
  float: left;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}


/* piè di pagina */
footer{
  width: 70%;
  height: 80px;
  margin: 0 auto;
  font-size: 10px;
  text-align: center;
  color:
}
